@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
ul,
p {
  list-style: none;
  margin-bottom: 0 !important;
}

input {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: #fff !important;
}

.container {
  width: 1200px;
  max-width: calc(100% - 32px);
  margin-right: auto;
  margin-left: auto;
}

.line-clamp-3,
.line-clamp-1,
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background: #333;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1877f2;
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

.ant-pagination-item-link,
.ant-select-selector {
  background-color: #333 !important;
  border: 1px solid #333 !important;
}

.ant-pagination-item-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ant-pagination-item-container {
  width: 100%;
}

@keyframes skeleton {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton {
  animation: skeleton 0.6s linear infinite alternate;
}

.ant-pagination-item,
.ant-select-selection-item {
  background-color: #333 !important;
}

.ant-select-selector,
.ant-pagination-item-link span,
.ant-pagination-item a,
.ant-select-arrow,
.anticon-close {
  color: #fff;
}

.radio-input {
  display: none;
}
.radio-label {
  width: 20px;
  height: 20px;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  margin: 10px 1rem;
  transition: all 0.1s linear;
  border: 1px solid #fff;
}
.radio-input:checked + .radio-label {
  background-color: #fd656b;
}

.banner::after,
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner::after {
  background: linear-gradient(
    90deg,
    #202125,
    rgba(32, 33, 37, 0.6) 40%,
    rgba(32, 33, 37, 0) 60%,
    rgba(32, 33, 37, 0) 80%,
    #202125
  );
}

.banner::before {
  background: linear-gradient(0deg, #202125, rgba(32, 33, 37, 0) 50%, #202125);
}

.emoji {
  transition: all ease-in-out 0.1s;
}

.emoji:hover {
  transform: scale(1.3);
}
